.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

.todo {
    margin-top: 10px;
    grid-column: 1;
}

.doing {
    margin-top: 10px;
    grid-column: 2 / 3;
}

.done {
    margin-top: 10px;
    grid-column: 3 / 3;
}

.container {
    /*background: #d3d3d3;*/
    /*!*border-radius: 7px;*!*/
    /*box-shadow: 0 2px 5px #ccc;*/

    padding: 10px;
    margin: 16px;
    /* float: left; */

    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: var(--second-background);
    background-size: 25px 25px;
    border-radius: 20px;
    /* TODO: */
    box-shadow: 4px 3px 7px 2px #111111;
    box-sizing: border-box;
}
