@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    --main-background: #272727;
    --second-background: #2C2B30;
    --accent-color: #227C9D;
    --text-color: #DCE1DE;
    --interaction-color: #DB4C40;

    background: var(--main-background);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-emphasis-color: var(--accent-color);
}

h1 {
    color: var(--text-color);
    font-size:2.2em;
    letter-spacing:1px;
}

em {
    color: var(--accent-color);
    font-style: normal;
}

a:link {
    text-decoration: none;
    color: var(--accent-color);
}

a:visited {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: var(--interaction-color);
}

a:active {
    color: var(--interaction-color);
    font-weight: bold;
}


.home,
.organizations,
.messages,
.support,
.products {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

}

.organization-selection {
    padding-top: 10%;
}

.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-content: center;
    padding-top: 10%;
}

.profile {
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}