.board-component {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    overflow-y: hidden;
}

.section-div {
    /*background: #d3d3d3;*/
    /*!*border-radius: 7px;*!*/
    /*box-shadow: 0 2px 5px #ccc;*/

    padding: 10px;
    margin: 16px;
    /* float: left; */

    width: 100%;
    height: fit-content;
    max-width: 400px;
    min-width: 250px;
    background: var(--second-background);
    background-size: 25px 25px;
    border-radius: 20px;
    /* TODO: */
    box-shadow: 4px 3px 7px 2px #111111;
    box-sizing: border-box;
}

.section-delete-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: var(--second-background);
    border-radius: 10px;
    color: var(--text-color);
}

.section-delete-div:hover {
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    color: var(--accent-color);
    cursor: pointer;
}

.section-delete-div:active {
    border-style: solid;
    border-width: 2px;
    border-color: var(--interaction-color);
    color: var(--interaction-color);
    cursor: pointer;
}

.delete-section-icon {
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

.create-section-div {
    background: var(--text-color);
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    color: var(--second-background);
    padding: 10px;
    width: 90%;
    min-height: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

form.create-section-form {
    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-section-form input {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}
