.board-component {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    overflow-y: hidden;
}

.section-div {
    /*background: #d3d3d3;*/
    /*!*border-radius: 7px;*!*/
    /*box-shadow: 0 2px 5px #ccc;*/

    padding: 10px;
    margin: 16px;
    /* float: left; */

    width: 100%;
    height: fit-content;
    max-width: 400px;
    min-width: 250px;
    background: var(--second-background);
    background-size: 25px 25px;
    border-radius: 20px;
    /* TODO: */
    box-shadow: 4px 3px 7px 2px #111111;
    box-sizing: border-box;
}